
#content #footer {
  text-align: justify;

  bottom: 0px;

  width: 100%;

  color: var(--header-text-color);
}

#content #footer .legal {
  font-size: 8pt;
  white-space: nowrap;

  text-align: center;
  transition: color .0625s ease-in-out;
}

#content #footer .legal a:hover {
  color: var(--header-highlight-fg-color);
}

#content #footer .legal .cc-logo {
  width: 80px;

  transition: width .25s ease-in-out;

  border-radius: 4px;
}

#content #footer #menu {
  color: var(--header-text-color);

  font-size: 14pt;
  text-align: center;
}

#content #footer #menu .option {
  padding-left: 1.25em;
  padding-right: 1.25em;

  transition: color .0625s ease-in-out;
}

#content #footer #menu .option:hover {
  color: var(--header-highlight-fg-color);
}


