
@font-face {
  font-family: common;
  src: url(http://cdn.dorkusmalorkus.org/blog/fonts/kelson-sans-regular.otf);
}
/*@font-face {
  font-family: common-light;
  src: url(http://cdn.dorkusmalorkus.org/blog/fonts/kelson-sans-light.otf);
}*/
/*@font-face {
  font-family: common-bold;
  src: url(http://cdn.dorkusmalorkus.org/blog/fonts/kelson-sans-bold.otf);
}*/
@font-face {
  font-family: title;
  src: url(http://cdn.dorkusmalorkus.org/blog/fonts/makhina.ttf);
}

:root {
  --bg-color-dark: #202325;
  --bg-color-light: #565d63;

  --entry-bg-color-dark: #101112;
  --entry-bg-color-light: #202122;
  --entry-border-color: #dddddd;
  --entry-text-color: white;

  --header-text-color: white;
  --header-highlight-fg-color: #cccccc;
}

.template {
  /*visibility: hidden;*/
  display: none;
}

.invisible {
  opacity: 0;
  visibility: hidden;
}

body {
  font-family: common;

  background: linear-gradient(140deg, var(--bg-color-dark) 30%, var(--bg-color-light) 100%);
}

#content {
  position: relative;

  margin: 4em auto 0em auto;
  width: 90%;

  transition: opacity .0625s ease-in-out;

}

#content a {
  text-decoration: inherit;
  color: inherit;
}

#content a:hover {
  cursor: pointer;
  opacity: 0.9;
}

#content .expanded {
  overflow: visible;
  max-height: none;

  opacity: 1.0;
}
